<%- include('./fragments/header.ejs') %>
<main>
    <h2>Main page</h2>
    <p>
        Hugh Jass, Hugh Jass, Hugh Jass, Hugh Jass, Hugh Jass, Hugh Jass, Hugh Jass, Hugh Jass, Hugh Jass, Hugh Jass, Hugh Jass, Hugh Jass
    </p>
</main>
<%- include('./fragments/footer.ejs') %>