<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> BMI general view</title>
    <link rel="stylesheet" href="css/style.css" /> <!-- attaching css file -->
    <meta name="viewport" content="width=device-width,initial-scale=1" /> <!-- defining responding to different device sizes -->
</head>
<body>

<header>
    <h1> BMI</h1>
    <img src="images/logo.png" alt="BMI Logo">
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation === 'main' ? 'active' : ''%>">Main page</a></li> <!-- class "active" marks which tab we are currently on-->
        <li><a href="/ProductModel" class="<%= navLocation === 'productModel' ? 'active' : ''%>">ProductModel</a></li>
        <li><a href="/Order" class="<%= navLocation === 'order' ? 'active' : ''%>">Order</a></li>
        <li><a href="/OrderedProducts" class="<%= navLocation === 'orderedProducts' ? 'active' : ''%>">OrderedProducts</a></li>
    </ul>
</nav>