<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> BMI add record page</title>
        <link rel="stylesheet" href="../../css/style.css" /> <!-- attaching css file -->
        <meta name="viewport" content="width=device-width,initial-scale=1" /> <!-- defining responding to different device sizes -->
        <script type="application/javascript" src="../../js/validationCommon.js"></script>
        <script type="application/javascript" src="../../js/validationProductModelForm.js"></script>
    </head>
<body>

<header>
    <h1> BMI</h1>
    <img src="../../images/logo.png" alt="BMI Logo">
</header>
<nav>
    <ul>
        <li><a href="../../index.ejs">Main page</a></li>
        <li><a href="list.ejs" class="active">ProductModel</a></li>
        <li><a href="../Order/list.ejs">Order</a></li>
        <li><a href="../OrderedProducts/list.ejs">OrderedProducts</a></li>
    </ul>
</nav>
<main>
    <h2>New product</h2>

    <form class="form" novalidate onsubmit="return validateForm();"> <!-- added onsubmti variable, novalidate - turned off standard html5 validation -->
        <!-- <label for="IDproduct">IDproduct: <span class="symbol-required">*</span></label> -- ADDED <span> FOR CSS --> 
        <!-- <input type="number" name="IDproduct" id="IDproduct" class="error-input" disabled> -- ADDED error-input CLASS FOR CSS-->
        <!-- <span id="errorIDproduct" class="errors-text">Field required dummy.</span> -- ADDED errors-text CLASS TO ERROR MESSAGES! -->

        <label for="productName">Name of product: <span class="symbol-required">*</span></label> 
        <input type="text" name="productName" id="productName" class="error-input" placeholder="2-60 characters" required>
        <span id="errorProductName" class="errors-text">Field required dummy.</span>

        <label for="productPrice">Price: <span class="symbol-required">*</span></label> 
        <input type="number" name="productPrice" id="productPrice" class="error-input" required>
        <span id="errorProductPrice" class="errors-text">Field required dummy.</span>

        <label for="productionDate">Production date: <span class="symbol-required">*</span></label> 
        <input type="date" name="productionDate" id="productionDate" class="error-input" required>
        <span id="errorProductionDate" class="errors-text">Field required dummy.</span>

        <label for="endDistributionDate">Distribution end date: </label> 
        <input type="date" name="endDistributionDate" id="endDistributionDate" class="error-input">
        <span id="errorEndDistributionDate" class="errors-text">Entered a date before production date!</span>

        <div class="form-buttons"> <!-- ADDED form-buttons CLASS TO DIV FOR "ADD" BUTTON -->
            <p id="errorsSummary" class="errors-text">There are errors in the form!</p>
            <input type="submit" value="Add" class="form-button-submit"> <!-- ADDED CLASS NAMES IN ALL 3 LINES HERE -->
            <a href="list.ejs" class="form-button-cancel">Cancel</a>
        </div>
    </form>
</main>

    <footer>
        Bartosz Janowski, s23375
    </footer>

</body>
</html>