<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Edit product</h2>

    <form class="form" novalidate onsubmit="return validateForm();">
        <label for="productName">Name of product: <span class="symbol-required">*</span></label> 
        <input type="text" name="productName" id="productName" value="Axceletron DB120" required>
        <span id="errorProductName" class="errors-text"></span>

        <label for="productPrice">Price: <span class="symbol-required">*</span></label> 
        <input type="number" name="productPrice" id="productPrice" value="100" required>
        <span id="errorProductPrice" class="errors-text"></span>

        <label for="productionDate">Production date: <span class="symbol-required">*</span></label> 
        <input type="date" name="productionDate" id="productionDate" value="2022-09-16" required>
        <span id="errorProductionDate" class="errors-text"></span>

        <label for="endDistributionDate">Distribution end date: </label> 
        <input type="date" name="endDistributionDate" id="endDistributionDate" >
        <span id="errorEndDistributionDate" class="errors-text"></span>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" value="Edit" class="form-button-submit">
            <a href="/ProductModel/" class="form-button-cancel">Cancel</a>
        </div>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>