<%- include('../../fragments/header.ejs') %>
<main>
    <h2>New product</h2>

    <form class="form" novalidate onsubmit="return validateForm();">
        <label for="productName">Name of product: <span class="symbol-required">*</span></label> 
        <input type="text" name="productName" id="productName"  placeholder="2-60 characters" required>
        <span id="errorProductName" class="errors-text"></span>

        <label for="productPrice">Price: <span class="symbol-required">*</span></label> 
        <input type="number" name="productPrice" id="productPrice" required>
        <span id="errorProductPrice" class="errors-text"></span>

        <label for="productionDate">Production date: <span class="symbol-required">*</span></label> 
        <input type="date" name="productionDate" id="productionDate" required>
        <span id="errorProductionDate" class="errors-text"></span>

        <label for="endDistributionDate">Distribution end date: </label> 
        <input type="date" name="endDistributionDate" id="endDistributionDate">
        <span id="errorEndDistributionDate" class="errors-text"></span>

        <div class="form-buttons"> <!-- ADDED form-buttons CLASS TO DIV FOR "ADD" BUTTON -->
            <p id="errorsSummary"></p>
            <input type="submit" value="Add" class="form-button-submit"> <!-- ADDED CLASS NAMES IN ALL 3 LINES HERE -->
            <a href="/ProductModel/" class="form-button-cancel">Cancel</a>
        </div>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>