<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Product details</h2>

    <form class="form">
        <label for="IDproduct">IDproduct: </label> 
        <input type="number" name="IDproduct" id="IDproduct" value="1" disabled>
        <span id="errorIDproduct" class="errors-text"></span>

        <label for="productName">Name of product: <span class="symbol-required">*</span></label> 
        <input type="text" name="productName" id="productName" value="Axceletron DB120" disabled>
        <span id="errorProductName" class="errors-text"></span>

        <label for="productPrice">Price: <span class="symbol-required">*</span></label> 
        <input type="number" name="productPrice" id="productPrice" value="100" disabled>
        <span id="errorProductPrice" class="errors-text"></span>

        <label for="productionDate">Production date: <span class="symbol-required">*</span></label> 
        <input type="date" name="productionDate" id="productionDate" value="2022-09-16" disabled>
        <span id="errorProductionDate" class="errors-text"></span>

        <label for="endDistributionDate">Distribution end date: </label> 
        <input type="date" name="endDistributionDate" id="endDistributionDate" disabled>
        <span id="errorEndDistributionDate" class="errors-text"></span>

        <div> 
            <a href="/ProductModel/edit/1" class="form-button-edit">Edit</a>
        </div>
    </form>

    <h2>Orders for the selected product</h2>
    <table class="table-list"> <!-- Table with first table's fields-->
        <thead>
            <tr>
                <th>IDorderedProduct</th>
                <th>Quantity</th>
                <th>IDproduct</th>
                <th>IDorder</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="IDorderedProduct">1</td>
                <td data-label="Quantity">1</td>
                <td data-label="IDproduct">1</td>
                <td data-label="IDorder">1</td>
            </tr>
            <tr> <!-- Employee 2 -->
                <td data-label="IDorderedProduct">3</td>
                <td data-label="Quantity">2</td>
                <td data-label="IDproduct">1</td>
                <td data-label="IDorder">2</td>
            </tr>
        </tbody>
    </table>
    <a href="/ProductModel/" class="form-button-back">Back</a>

</main>
<%- include('../../fragments/footer.ejs') %>