<%- include('../../fragments/header.ejs') %>
<main>
    <h2>All products</h2>
    <p>The business wasn't very successful. There are no products.</p>

    <p><a href="/ProductModel/add" class="button-add">Add new product</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>