<%- include('../../fragments/header.ejs') %>
<main>
    <h2>All ordered products</h2>
    <p>There's nothing here for now, but I'm sure it won't be long until something comes around!</p>

    <p><a href="form.ejs" class="button-add">Add new product</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>