<%- include('../../fragments/header.ejs') %>
<main>
    <h2>All ordered products</h2>
    <table class="table-list"> <!-- Table with first table's fields--> <!-- ADDED TABLE-LIST CLASS FOR CSS TO WORK-->
        <thead>
            <tr>
                <th>IDorderedProduct</th>
                <th>Quantity</th>
                <th>Product</th>
                <th>IDorder</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="IDorderedProduct">1</td>
                <td data-label="Quantity">1</td>
                <td data-label="Product">Axceletron DB120</td>
                <td data-label="IDorder">1</td>
                <td>
                    <ul class="list-actions"> <!-- add class list-actions to align buttons horizontally -->
                        <li>
                            <a href="/OrderedProducts/details/1" class="list-actions-button-details">Details</a>
                        </li>
                        <li>
                            <a href="/OrderedProducts/edit/1" class="list-actions-button-edit">Edit</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td data-label="IDorderedProduct">2</td>
                <td data-label="Quantity">2</td>
                <td data-label="Product">PlasticSeries Friend 350</td>
                <td data-label="IDorder">1</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/OrderedProducts/details/1" class="list-actions-button-details">Details</a>
                        </li>
                        <li>
                            <a href="/OrderedProducts/edit/1" class="list-actions-button-edit">Edit</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr> 
                <td data-label="IDorderedProduct">3</td>
                <td data-label="Quantity">2</td>
                <td data-label="Product">Axceletron DB120</td>
                <td data-label="IDorder">2</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/OrderedProducts/details/1" class="list-actions-button-details">Details</a>
                        </li>
                        <li>
                            <a href="/OrderedProducts/edit/1" class="list-actions-button-edit">Edit</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr> 
                <td data-label="IDorderedProduct">4</td>
                <td data-label="Quantity">7</td>
                <td data-label="Product">Basix e11</td>
                <td data-label="IDorder">3</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/OrderedProducts/details/1" class="list-actions-button-details">Details</a>
                        </li>
                        <li>
                            <a href="/OrderedProducts/edit/1" class="list-actions-button-edit">Edit</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><a href="/OrderedProducts/add" class="button-add">Add a product to an order</a></p>
        <p class="delete-message">Ordered product deleted successfully</p>
    </div>
    
</main>
<%- include('../../fragments/footer.ejs') %>