<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Order details</h2>

    <form class="form">
        <label for="IDorder">IDorder: </label> 
        <input type="number" name="IDorder" id="IDorder" value="1" disabled>
        <span id="errorIDorder" class="errors-text"></span>

        <label for="datePlaced">Order placed: <span class="symbol-required">*</span></label> 
        <input type="date" name="datePlaced" id="datePlaced" value="2022-10-12" disabled>
        <span id="errorDatePlaced" class="errors-text"></span>

        <label for="clientContactInfo">Contact info: <span class="symbol-required">*</span></label> 
        <input type="text" name="clientContactInfo" id="clientContactInfo" value="BMIgeneral@bmi.com" disabled>
        <span id="errorClientContactInfo" class="errors-text"></span>

        <label for="shippingCompany">Shipping method: <span class="symbol-required">*</span></label> 
        <input type="text" name="shippingCompany" id="shippingCompany" value="DHL" disabled>
        <span id="errorShippingCompany" class="errors-text"></span>

        <label for="premiumDelivery">Premium delivery: </label>  <!-- premiumDelivery is nullable therefore no "required" keyword-->
        <input type="checkbox" name="premiumDelivery" id="premiumDelivery" checked disabled>
        <span id="errorPremiumDelivery"></span>

        <div class="form-buttons"> 
            <a href="/Order/edit/1" class="form-button-edit">Edit</a>
        </div>
    </form>

    <h2>Ordered products</h2>
    <table class="table-list"> <!-- Table with first table's fields-->
        <thead>
            <tr>
                <th>IDorderedProduct</th>
                <th>Quantity</th>
                <th>Product</th>
                <th>IDorder</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="IDorderedProduct">1</td>
                <td data-label="Quantity">1</td>
                <td data-label="Product">Axceletron DB120</td>
                <td data-label="IDorder">1</td>
            </tr>
            <tr>
                <td data-label="IDorderedProduct">2</td>
                <td data-label="Quantity">2</td>
                <td data-label="Product">PlasticSeries Friend 350</td>
                <td data-label="IDorder">1</td>
            </tr>
        </tbody>
    </table>
    <a href="/Order/" class="form-button-back">Back</a>

</main>
<%- include('../../fragments/footer.ejs') %>