<%- include('../../fragments/header.ejs') %>
<main>
    <h2>All orders</h2>
    <table class="table-list"> <!-- Table with first table's fields--> <!-- ADDED TABLE-LIST CLASS FOR CSS TO WORK-->
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date of placing order</th>
                <th>Contact info</th>
                <th>Shipping company</th>
                <th>Premium delivery</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Order ID">1</td>
                <td data-label="Date of placing order">12-10-2022 </td>
                <td data-label="Contact info">BMIgeneral@bmi.com</td>
                <td data-label="Shipping company">DHL</td>
                <td data-label="Premium delivery">Yes</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/Order/details/1" class="list-actions-button-details">Details</a>
                        </li>
                        <li>
                            <a href="/Order/edit/1" class="list-actions-button-edit">Edit</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td data-label="Order ID">2</td>
                <td data-label="Date of placing order">13-10-2022 </td>
                <td data-label="Contact info">daniel@gmail.com</td>
                <td data-label="Shipping company">Inpost</td>
                <td data-label="Premium delivery">No</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/Order/details/1" class="list-actions-button-details">Details</a>
                        </li>
                        <li>
                            <a href="/Order/edit/1" class="list-actions-button-edit">Edit</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr> 
                <td data-label="Order ID">3</td>
                <td data-label="Date of placing order">13-10-2022</td>
                <td data-label="Contact info">eilenedover@gmail.com</td>
                <td data-label="Shipping company">DHL</td>
                <td data-label="Premium delivery">No</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/Order/details/1" class="list-actions-button-details">Details</a>
                        </li>
                        <li>
                            <a href="/Order/edit/1" class="list-actions-button-edit">Edit</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <p><a href="/Order/add" class="button-add">Add new order</a></p>
        <p class="delete-message">Product deleted successfully</p>
    </div>
    
</main>
<%- include('../../fragments/footer.ejs') %>