<%- include('../../fragments/header.ejs') %>
<main>
    <h2>All orders</h2>
    <p>The business wasn't very successful. There are no orders.</p>

    <p><a href="form.ejs" class="button-add">Add new product</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>